* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  html{
    font-size: 22px;
  }

body {
  min-height: 100vh;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 1550px;
  border: 1px solid mediumblue;
}

header{
  width: 100%;
  padding: 0 0.5em;
  background-color: mediumblue;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  /* overflow-y: auto; */
}

footer{
  width: 100%;
  padding: 0.25em;
  background-color: mediumblue;
  color: aliceblue;
  display: grid;
  place-content: center;
}

ul{
  width: 100%;
  list-style: none;
  padding: 0 5px 5px;
}

/* ul li::before{
  content: "\200B";
} */

.item{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  padding: 5px 5px 5px 5px;
  margin: 5px 0;
  background-color: #eee;
}

/* .item:first-child{
  margin: 0;
} */

.item input[type="checkbox"]{
  text-align: center;
  width: 48px;
  min-height: 48px;
  /* height: 48px;
  min-height: 48px; */
  cursor: pointer;
  margin-right: 5px;
}

.item input[type="checkbox"]:focus + label{
  text-decoration: underline;
}

.item label {
  font-size: 20px;
  flex-grow: 1;
}

.item svg {
  width: 48px;
  /* min-width: 48px; */
  height: 36px;
  /* font-size: 1rem; */
  color: steelblue;
  cursor: pointer;
}

.item svg:focus,
.item svg:hover {
  color: red;
  outline: none;
}

.addForm{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 5px 0 0;
  padding: 0 5px 5px;
  border-bottom: 1px solid rgb(56, 185, 255);
}

.addForm label{
  position: absolute;
  left: -99999px;
}

.addForm input[type='text'] {
  flex-grow: 1;
  max-width: calc(100% - 200px);
  min-height: 48px;
  font-size: 25px;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
  /* outline: none; */
}

button{
  height: 48px;
  min-width: 48px;
  border-radius: 3px;
  padding: 10px;
  font-size: 22px;
  background-color: aliceblue;
  color: mediumblue;
  cursor: pointer;
}

button:focus,
button:hover {
  color: white;
  background-color: limegreen;
  outline: none;
}

.searchForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0 5px 0 0;
  padding: 5px 5px 5px 5px;
  border-bottom: 1px solid rgb(56, 185, 255);
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.searchForm input {
  flex-grow: 1;
  max-width: 100%;
  min-height: 48px;
  font-size: 22px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}